<div class="row">
	<main class="clearfix">
		<div class="top-logo">
			<%= image_tag asset_path("go_to.png", alt: "ロゴ", width: "350", height: "350") %>
			<h4 class="top-text">
				<strong>Find a new journey</strong>
			</h4>
			<p>自分だけの新たな旅に.....</p>
		</div>

		<div class="pf">
			<p class="text-muted responsive-font-xs">*ポートフォリオ閲覧の場合は、Log inページの簡単ログインをお使いください。</p>
		</div>

		<div class="bg-cover">
		<div class="main-infor clearfix">
			<h3 class="infor-header">What is go to ?</h3>
			<p class="infor-header-text">自分の旅を、みんなにシェアしてみよう !!<br>自分だけの旅を、みんなの旅に ! 気になる旅があったら、いいねやコメント,DMで旅人たちと繋がろう !!</p>
		</div>

		<div class="main-infor clearfix">
			<div class="infor-text">
			    <h3>Look</h3>
			    <p>みんなの旅を見て楽しそう !! と思ったら、<br>次の旅先の候補に入れてみては !?</p>
			</div>
			<div class="sidbar">
				<%= image_tag asset_path("img1.jpg", alt: "画像1"), class: "sidbar-image" %>
			</div>
		</div>

		<div class="main-infor clearfix">
			<div class="sidbar">
				<%= image_tag asset_path("img2.jpg", alt: "画像2"), class: "sidbar-image" %>
			</div>
			<div class="infor-text">
				<h3>My page</h3>
				<p>自分の旅を管理して、過去の旅をもとに新たな旅へ !!<br>やり残した事はないか !?</p>
			</div>
		</div>

        <div class="main-infor clearfix">
			<div class="infor-text">
				<h3>Write</h3>
				<p>自分の旅を投稿し、シェアしてみよう !!<br>自分の最高の旅がみんなの旅に...</p>
			</div>
			<div class="sidbar">
				<%= image_tag asset_path("img3.jpg", alt: "画像3"), class: "sidbar-image" %>
			</div>
		</div>

		<div class="main-infor clearfix">
			<div class="sidbar">
				<%= image_tag asset_path("img4.jpg", alt: "画像4"), class: "sidbar-image" %>
			</div>
			<div class="infor-text">
				<h3>Direct message</h3>
				<p>世界中の旅人と繋がろう !!<br>新たな出会いとともに、始まる旅へ...</p>
			</div>
		</div>
	    </div>
	</main>
</div>