<div class="row">

	<% if @post.errors.any? %>
        <div class="col-10 offset-1 mt-5 field_with_errors">
            <div id="error_explanation">
                <h3><%= pluralize(@post.errors.count, "error") %> prohibited this obj from being saved:</h3>

                <% @post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </div>
        </div>
    <% end %>

	<div class="col-10 offset-1">
		<div class="heading">
		    <h1 class="heading-text">To edit</h1>
		</div>
	</div>

	<div class="col-6 offset-3 mt-5">
		<div class="group_field">
		<%= form_for(@post, url: post_path, html: {method: :patch}) do |f| %>
		    <!-- country選択フォーム -->
		    <div class="field">
		    	<%= f.label :country, "国内or海外" %><br>
		    	<%= select :post, :country, Post.countries.keys.to_a, include_blank: "選択してください" %>
		    </div>

		    <!-- placeフォーム -->
		    <div class="field">
		    	<%= f.label :place, "Place/行先" %><br>
		    	<%= f.text_field :place, class: "form-control"  %>
		    </div>

		    <!-- bodyフォーム -->
		    <div class="field">
		    	<%= f.label :body, "Review/レビュー" %><br>
		    	<%= f.text_area :body, class: "form-control", :size=>"60x10"  %>
		    </div>

		    <!-- dayフォーム -->
		    <div class="field">
		    	<label>Day/日程</label><br>
		    	<%= f.date_field :start_date %> ~
		    	<%= f.date_field :finish_date %>
		    </div>

		    <!-- priceフォーム -->
		    <div class="field">
		    	<%= f.label :price, "Price/費用" %><br>
		    	<%= f.text_field :price %>
		    </div>

		    <!-- 画像投稿フォーム -->
		    <div class="field">
		    	<%= f.label :post_image, "Picture/思い出の写真" %><br>
		    	<%= f.file_field :post_images_images, multiple: true %>
		    </div>

		    <div class="actions">
		    	<%= f.submit "編集する", class: "btn btn-success" %>
		    </div>
		<% end %>
	    </div>
	</div>
</div>